
/* DEMO THEME */

.gridder a:hover{
    color: blue;
    cursor: pointer;
}

.gridder-list img{
    width: 100%;
}

.gridder-list{
    border: 1px solid blue;
    background: #EEE;
    cursor: pointer;
}
.gridder-list.active{
    border: 1px solid red;
}

.gridder-show{
    width: 100%;
    background: #EEE;
    border: 1px solid #000;
}