.gridder{

}

.gridder img{
    width: 100%;
}

.gridder-list{
    border: 1px solid blue;
    background: #EEE;
    height: 150px;
    cursor: pointer;
}
.gridder-list.active{
    border: 1px solid red;
}

.gridder-show{
    width: 100%;
    height: 150px;
    background: #EEE;
    border: 1px solid #000;
}


