<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GridderJS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="../dist/demo/demo.css" rel="stylesheet" id="theme_css">

        
    </head>
    <body>

        <div id="app">

            <div class="container">

                <h1>GridderJS</h1>
    
                <hr />
    
                <p class="lead">A JS plugin that displays a thumbnail grid expanding preview similar to the effect seen on Google Images.</p>
    
                <p>This demo showcases how to use GridderJS with other frameworks, it also shows how to use callback.</p>
    
                <hr>

                <div class="d-flex">
                    <div class="form-floating me-3">
                        <input type="email" class="form-control" placeholder="Gap" v-model="gap">
                        <label>Gap</label>
                    </div>
                    <div class="form-floating me-3">
                        <input type="email" class="form-control" placeholder="Columns" v-model="columns">
                        <label>Columns</label>
                    </div>
                    <div class="form-floating me-3">
                        <select class="form-select" v-model="update_theme">
                            <option value="">No Theme</option>
                            <option value="theme_1">Theme 1</option>
                        </select>
                        <label>Theme</label>
                    </div>
                    <div class="form-floating me-3">
                        <select class="form-select" v-model="update_display">
                            <option value="">Choose...</option>
                            <option value="right">Right</option>
                            <option value="bottom">Bottom</option>
                        </select>
                        <label>Explander Placement</label>
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="setTheme()">Update</button>
                </div>

                <hr>

            </div> 

            <div class="gridder" :class="theme">
                <div class="gridder-list">
                    <div class="text-center" v-for="champion in champions.data" :data-target="'content-'+champion.id">
                        <img :data-src="'https://ddragon.leagueoflegends.com/cdn/9.18.1/img/champion/'+champion.image.full" class="lazy" />
                        <div class="gridder-list-details">
                            <strong>{{champion.name}}</strong><br>
                            <small>{{ champion.title }}</small>
                        </div>
                    </div>
                    <div class="p-2 text-center" :data-url="'content.html'">
                        <strong>AJAX EXAMPLE</strong><br>
                        <small>Just to give an example</small>
                    </div>
                </div>
            </div>
            <div v-for="champion in champions.data" :id="'content-'+champion.id" style="display:none;">
    
                <img :data-src="'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/'+champion.id+'_0.jpg'" class="lazy mb-3" />
                <div>
                    <h3>
                        {{champion.name}} 
                        <span class="badge bg-primary e-2" v-for="(tag, key) in champion.tags">{{tag}}</span>
                    </h2>
                    <hr>
                    <p>{{champion.blurb}}</p>
                    <hr>
                    <table class="table table-light table-sm table-bordered">
                        <thead>
                            <tr>
                                <th v-for="(info, key) in champion.info">{{key}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="(info, key) in champion.info">{{info}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table table-light table-sm table-bordered">
                        <tr v-for="(info, key) in champion.stats">
                            <th width="30%">{{key}}</td>
                            <td>{{info}}</td>
                        </tr>
                    </table>
                </div>
                   
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="api/data.js"></script>
        <script src="../dist/gridder-js-min.js"></script>

        <script>
            
            var gridder = null;
        
            const { createApp } = Vue
    
            createApp({
                data() {
                    return {
                        update_theme: 'theme_1',
                        update_display: 'right',
                        theme: 'theme_1',
                        gap: 2,
                        columns: 8,
                        champions: champions,
                        options: {}
                    }
                },
                mounted() {
                    var initialLazyLoad = new LazyLoad();

                    // Instantiate the plugin
                    gridder = new GridderJS('.gridder', {
                        'display': 'right',
                        'columns': 8,
                        'gap': 15,
                        breakpoints: {
                            960: {
                                columns: 4,
                                gap: 15,
                            },
                            500: {
                                columns: 2,
                                gap: 5,
                                display: 'bottom',
                            }
                        },
                        'closeText': "<b>X</i>",
                        'init': function(el){
                            //console.log('onStart');
                        },
                        'open': function(el){
                            //console.log('onOpen');
                            var myLazyLoad = new LazyLoad({
                                container: this.expanderElement
                            });
                        },
                    });

                    //console.log(GridderJS.instances);

                },
                methods: {
                    setTheme() {
                        this.theme = this.update_theme;  
                        gridder.update({
                            gap: this.gap,
                            columns: this.columns,
                            display: this.update_display,
                        });
                    }
                }
            }).mount('#app')
        
            

        </script>
    </body>
</html>