<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GridderJS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="../dist/demo/demo.css" rel="stylesheet" id="theme_css">

        
    </head>
    <body>

        <div id="app">

            <div class="container">

                <h1>GridderJS</h1>
    
                <hr />
    
                <p class="lead">A JS plugin that displays a thumbnail grid expanding preview similar to the effect seen on Google Images.</p>
    
                <p>This demo showcases how to use GridderJS with other frameworks, it also shows how to use callback.</p>
    
                <hr>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" v-on:click="setTheme('basic', {columns: 8, gap: 20})" :class="{ active: theme == 'basic' }">Theme 1</button>
                    <button type="button" class="btn btn-primary" v-on:click="setTheme('full', {columns: 5, gap: 2})" :class="{ active: theme == 'full'  }">Theme 2</button>
                </div>

                <hr>

            </div> 

            <div class="gridder" :class="theme">
                <div class="gridder-list text-center" v-for="champion in champions.data" :data-target="'content-'+champion.id">
                    <img :data-src="'https://ddragon.leagueoflegends.com/cdn/9.18.1/img/champion/'+champion.image.full" class="lazy" />
                    <div class="gridder-list-details">
                        <strong>{{champion.name}}</strong><br>
                        <small>{{ champion.title }}</small>
                    </div>
                </div>
                <div class="gridder-list p-2 text-center" :data-url="'content.html'">
                    <strong>AJAX EXAMPLE</strong><br>
                    <small>Just to give an example</small>
                </div>
            </div>
            <div v-for="champion in champions.data" :id="'content-'+champion.id" style="display:none;">
                <div class="row">      
                    <img :data-src="'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/'+champion.id+'_0.jpg'" class="col-sm-8 lazy" />
                    <div class="col-sm-4">
                        <h2>{{champion.name}}</h2>
                        <p>
                            {{ champion.blurb }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="api/data.js"></script>
        <script src="../dist/gridder-js-min.js"></script>

        <script>
            
            var gridder = null;
        
            const { createApp } = Vue
    
            createApp({
                data() {
                    return {
                        theme: 'full',
                        champions: champions
                    }
                },
                mounted() {
                    var initialLazyLoad = new LazyLoad();

                    // Instantiate the plugin
                    gridder = new GridderJS('.gridder', {
                        'columns': 5,
                        'gap': 2,
                        'closeText': "<b>X</i>",
                        'init': function(el){
                            //console.log('onStart');
                        },
                        'open': function(el){
                            //console.log('onOpen');
                            var myLazyLoad = new LazyLoad({
                                container: this.expanderElement
                            });
                        },
                    });

                    //console.log(GridderJS.instances);

                },
                methods: {
                    setTheme(value, options) {
                        this.theme = value;  
                        gridder.update(options)
                    }
                }
            }).mount('#app')
        
            

        </script>
    </body>
</html>