<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GridderJS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="../dist/demo.css" rel="stylesheet">
    </head>
    <body class="p-4">

        <div class="container">

            <h1>GridderJS</h1>

            <hr />

            <p class="lead">A JS plugin that displays a thumbnail grid expanding preview similar to the effect seen on Google Images.</p>

            <p>This demo showcases how to use GridderJS with other frameworks, it also shows how to use callback.</p>

            <hr />

        </div>

        <div id="app">
            <div class="gridder">
                <div class="gridder-list p-2 text-center" v-for="champion in champions.data" :data-target="'content-'+champion.id">
                    <strong>{{champion.name}}</strong><br>
                    <small class="text-muted">{{ champion.title }}</small>
                </div>
            </div>
            <div v-for="champion in champions.data" :id="'content-'+champion.id" style="display:none;">
                <div class="row">      
                    <img :data-src="'https://ddragon.leagueoflegends.com/cdn/9.18.1/img/champion/'+champion.image.full" class="col-sm-4 lazy" />
                    <div class="col-sm-8">
                        <h2>{{champion.name}}</h2>
                        <p>
                            {{ champion.blurb }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="api/data.js"></script>
        <script src="../dist/gridder-js.js"></script>

        <script>
            
            const { createApp } = Vue
    
            createApp({
                data() {
                    return {
                        champions: champions
                    }
                },
                mounted() {

                    // Instantiate the plugin
                    new GridderJS('.gridder', {
                        'columns': 4,
                        'gap': 10,
                        'debug': true,
                        'onOpen': function(el){
                            var myLazyLoad = new LazyLoad({
                                container: el
                            });

                        }
                    });

                }
            }).mount('#app')
        
            

        </script>
    </body>
</html>