
////////////////////////////////
/* DEMO THEME */

.gridder-list{
  border: 1px solid #EEE;
  cursor: pointer;
  &:hover{
    border: 1px solid #c5c5c5;
    background: #F7F7F7;
  }
}

.gridder-show{
  border: 1px solid #EEE;
  padding: 15px;
}

.gridder-navigation{
  float: right;
  a{
    display:inline-block;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #EEE;
    cursor: pointer;
    &:hover{
      background: #EEE;
    }
  }
}
 