/* DEMO THEME */
.gridder a:hover{
  color: red;
  cursor: pointer;
}

.gridder-list img{
  width: 100%;
}

.gridder-list{
  border: 1px solid white;
  cursor: pointer;
}

.gridder-list.active{
  border: 1px solid red;
}

.gridder-show{
  width: 100%;
  color: rgb(30, 41, 185);  
  background: #EEE;
  border: 1px solid rgb(0, 47, 255);
} 

